.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 400px;
  /* border-radius: 50%; */
  /* background-color: cadetblue; */
  margin-bottom: 90px;
}

.test{
  border: 1px black solid;
}
